div #wrap {
  width: 980px;
  margin: 0 auto; #centers
  border: 1px solid #ff9900; #creats a solid border
  padding: 10px;
  box-shadow: 1px 1px 10px #333333;
  border-radius: 4px;
  background-color: #eeeeee;
  font-size: 16px;
  color: #333333;
  font-family: Helvetica;
}
